@font-face {
  font-family: SemplicitaPro;
  src: url("/fonts/SemplicitaPro.otf") format("opentype");
}

@font-face {
  font-family: SemplicitaPro;
  font-weight: bold;
  src: url("/fonts/SemplicitaPro-Bold.otf") format("opentype");
}

.alliance-winning, .status-equal, .horde-winning {
  display: none;
}

#arrowDown {
  display: block;
  bottom: 0px;
  left: calc(50% - 50px);
  width: 100px;
  position: fixed;
  z-index: 20;
  transition: 0.3s;
}

body {
  background: #000;
  font-family: SemplicitaPro;
}

.logo-right {
  position: absolute;
  top: 15px;
  right: 20px;
}

.logo-left {
  position: absolute;
  top: 10px;
  left: 20px;
}

.vs {
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  height: 80%;
  top: 10%;
}

#top-banner {
  transition: 0.5s;
  background: #004c9f;
  position: absolute;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  left: 50%;
  transform: translate(-50%);
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#shout img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#shout img.status-equal {
  width: 700px;
}

#shout img.subtitle.status-equal {
  width: 400px;
}

.alliance-btn, .horde-btn {
  display: block;
  width: 338px;
  height: 77px;
}

.vote-btn {
  background: url("/assets/buttons/btn_vote_282x64.png");
  background-size: 100% 100%;
  display: block;
  width: 282px;
  height: 65px;
}

.vote-btn:hover {
  background: url("assets/buttons/btn_vote_hov_282x64.png");
  background-size: 100% 100%;
}

.alliance-btn {
  background: url("assets/btn_vote_allianz_dektop_large.png");
  background-size: 100% 100%;
}

.alliance-btn:hover {
  background: url("assets/btn_vote_allianz_hov_desktop_large.png");
  background-size: 100% 100%;
}

.horde-btn {
  background: url("assets/btn_vote_horde_desktop_large.png");
  background-size: 100% 100%;
}

.horde-btn:hover {
  background: url("assets/btn_vote_horde_hov_desktop_large.png");
  background-size: 100% 100%;
}

#bg {
  background: #000 url("/assets/background/Background_1920x180_FadeBlack.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#bg, .heroes {
  height: 800px;
  width:100%;
  position: absolute;
  pointer-events: none;
}

.heroes {
  z-index: 20;
}

.usk {
  right: 0;
  position: absolute;
  cursor: default;
  margin-right: 0 !important;
}

.usk img {
  margin-right: 0 !important;
}

@media only screen and (max-width : 1000px) {
  .heroes {
    display: none
  }
}

#bgVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  min-height: 100%;
  min-width: 100%;
  width: auto;
}

.video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  overflow: hidden;
}

section, footer, .content {
  background: black;
  color: white;
  padding: 15px;
}

.sign-up-button {
  width: 70%;
  align-self: flex-end;
}

.rss {
  height: 465px;
  min-width: 300px;
  padding: 0px;
}

.rss .header {
  padding: 5px;
  height: 45px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rss.alliance .header {
  background: #004c9f;
  border: 1px solid #004c9f;
}

.rss.horde .header {
  background: #fe4949;
  border: 1px solid #fe4949;
}
.rss.alliance .feed {
  border: 1px solid #004c9f;
}

.rss.horde .feed {
  border: 1px solid #fe4949;
}

.rss .feed {
  overflow: auto;
  height: calc(100% - 45px);
}

.rss .feed ul {
  list-style-type: none;
  padding: 10px;
}

.rss .feed li {
  margin-bottom: 10px;
  clear: both;
}

.rss .feed li a {
  color: white;
}

.rss.horde .feed li a.goto {
  color: #fe4949;
}
.rss.alliance .feed li a.goto {
  color: #004c9f;
}

.rss .feed li img {
  width: 128px;
  height: auto;
  float: left;
  margin: 5px 10px 5px 5px;
}

.rss .header img {
  position: relative;
  height: 25px;
  left: 50%;
  transform: translate(-50%);
}

#wowLogo, #shout, #subtitle {
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translate(-50%);
}

#shout {
  top: 320px;
}

#heroRight {
  position: absolute;
  width: 25%;
  right: 0;
  bottom: -180px;
}

#orcLeft {
  position: absolute;
  bottom: -180px;
  width: 25%;
}

.wall {
  height: 1080px;
  width: 1920px;
  z-index: 20;
  background: url("assets/desktop/bg_wall_1920x1080.png") center;
  background-size: 100%;
  margin: -300px auto;
  position: absolute;
  top: 1000px;
  left: 50%;
  transform: translate(-50%);
}

.main-container {
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  top: 50px;
}

.vote-gamestar, .vote-mmmo {
  position: absolute;
  top: 700px;
  width: 400px;
  left: 50%;
  height: 220px;
  z-index: 10;
}

.loser-overlay {
  display: block;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  margin: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.vote-horde, .vote-alliance {
  position: absolute;
  top: 420px;
  width: 400px;
  left: 50%;
  height: 220px;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.vote-horde {
  transform: translate(-100%);
}

.vote-alliance {
  right: 0;
}

.img-symbol {
  height: 150px;
}

.locked.hidden-on-lock {
  display: none;
}

.locked.shown-on-lock {
  display: none;
}

.social {
  margin-top: 20px;
  margin-right: 25px;
}

.vote-count {
  font-size: 72pt;
  font-weight:bold;
  font-family: SemplicitaPro;
  color: white;
  position: relative;
  top: 0%;
  width: 100%;
  text-align: center;
  background-image: -webkit-linear-gradient(top,#fff 0,#c6c6c6 7%,#fff 20%,#cfcfcf 38%,#fef9ef 68%,#c7beac 83%,#dccdbc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  content: attr(data-text);
}

.banner {
  z-index: 30;
  display: flex;
  justify-content:center;
  padding: 0;
  position: relative;
}

.banner iframe {
  width: 1080px;
  height: 250px;
  border: 0;
}

.vote-count:after {
  background: none;
  content: attr(data-text);
  position: absolute;
  transform: translate(-100%);
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.7);
  top: 0;
  z-index: -1;
}

.vote-count:after:after {
  background: none;
  content: attr(data-text);
  position: absolute;
  text-shadow: 6px 6px 9px rgba(255, 0, 0, 0.53);
  top: 0;
  z-index: -1;
}

.vote-gamestar {
  background: url("assets/top/VoteBox_Alli.jpg") center;
  background-size: cover;
}

.vote-gamestar img,
.vote-mmmo img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 50%;
  height: 30px;
}

.vote-mmmo {
  background: url("assets/top/VoteBox_Horde.jpg") center;
  background-size: cover;

  transform: translate(-100%);
}

.pusher {
  height: 1580px;
  position: relative;
  top: 0;
}

.flex-break{
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.centered {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.fully-centered-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  pointer-events: all;
}

#debugBtn {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
}


#prize-title {
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translate(-50%);
}

.prize-info {
  position: absolute;
  top: 315px;
  left: 50%;
  transform: translate(-150%);
  background: url(assets/prizes/copyframe_.540x500.png) center;
  background-size: 100% 100%;
  color: white;
  padding: 20px;
  height: auto;
  font-size: 10pt;
  width: 400px;
}

.prize-image {
  position: absolute;
  top: 253px;
  width: 870px;
  left: 44%;
}

.modal-content {
  background: url("/assets/form/bg_560x696.png") center;
  background-size: 100% 100%;
  color: white;
  padding: 20px;
}

.video .modal-content {
  background: url("/assets/desktop/Videoplay_Background.png") center;
  background-size: 100% 100%;
  padding: 0;
}

.video.mobile .modal-content {
  background: url("/assets/form/frame_video_750x750.png") center;
  background-size: 100% 100%;
  padding: 0;
}

.modal-footer {
  padding: 0px;
}

.modal-header, .modal-footer {
  border: none;
}

select.form-control, .form-control, .form-control:active, .form-control:focus
{
  background: transparent !important;
  border-color: #858377;
  color: white;
  height: 45px;
  padding: 10px;
  padding-left: 20px;
}

select.form-control:not([size]):not([multiple]) {
  height: 45px;
}

option {
  color: black;
}

input[type=radio] {
  display: none;
}

.switch-radio {
  background: url("assets/form/btn_radio_off_28x28.png");
  display: block;
  height: 28px;
  width: 28px;
}

.switch-radio .selected {
  background: url("assets/form/btn_radio_off_28x28.png");
}

input[type='radio'],
input[type='checkbox'] {
  opacity: 0;

  float: left;
}

input[type='radio'] + label.switch-radio,
input[type='checkbox'] + label.switch-checkbox {
  clear: none;
  margin: 0 10px 0 0;
  width: 28px;
  height: 28px;

  cursor: pointer;
  background-image: url("assets/form/btn_radio_off_28x28.png");
}

input[type='checkbox'] + label + label {
  position: relative;
  top: -7px;
}

input[type='checkbox'] + label.switch-checkbox {
  padding: 0px 0 4px 24px;
  width: 46px;
  background-image: url("assets/form/checkbox_off_46x28_default_Notaccepted.png");
}

input[type='radio']:checked + label.switch-radio {
  background-image: url("assets/form/btn_radio_on_28x28.png");
}


input[type='checkbox']:checked + label.switch-checkbox {
  background-image: url("assets/form/checkbox_on_46x28_accepted.png");
}

.close-btn {
  float: right;
}

hr {
  border: 1px solid #858377;
}

.modal-footer {
  display: flex;
  color: #858377;

  justify-content: center;
  flex-direction: column;
}


footer .links-right {
  float: right;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media only screen and (max-width : 450px) {
  .thumbnail {
    display: none;
  }
}

@media only screen and (max-width : 700px) {
  footer .links-right {
    margin-bottom: 20px;
    width: 100%;
  }

  footer .cooperation .logo-blizzard .company-logo {
    margin: 0;
  }

  .alliance-btn {
    background: url("assets/mobile/btn_vote_allianz.png");
    background-size: 100% 100%;
    width: 165px;
    height: 60px;
  }

  .alliance-btn:hover {
    background: url("assets/mobile/btn_vote_allianz_hov.png");
    background-size: 100% 100%;
  }

  .horde-btn {
    background: url("assets/mobile/btn_vote_horde.png");
    background-size: 100% 100%;
    width: 165px;
    height: 60px;
  }

  .horde-btn:hover {
    background: url("assets/mobile/btn_vote_horde_hov.png");
    background-size: 100% 100%;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .vote-gamestar.winning, .vote-mmmo.winning {
    transform: translate(-50%);
    top: 399px;
  }

  #wowLogo {
    width: 350px;
  }

  .vote-gamestar:not(.winning), .vote-mmmo:not(.winning) {
    top: 619px;
    transform: translate(-50%);
  }

  .vote-mmmo.tied {
    transform: translate(-50%);
    top: 399px;
  }

  .vote-gamestar.tied {
    top: 619px;
  }

  .vote-btn {
    top: -140px;
  }

  .wall {
    top: 1320px;
    height: 750px;
  }

  #shout {
    top: 215px;
  }

  .pusher {
    height: 1755px;
  }

  .vote-horde {
    transform: translate(-70%, -67%);
    top: 391px;
  }

  .vote-alliance {
    transform: translate(-30%, -67%);
    top: 391px;
  }

  .prize-info {
    top: -80px;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
    width: 80vw;
    background: transparent;
  }

  #shout img {
    width: 80vw;
  }

  #prize-title {
    width: 80vw;
    top: -30px;
  }

  .prize-image {
    top: initial;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 30px) scale(0.7);
  }

  #shout img.status-equal {
    width: 75vw;
  }

  #shout img.subtitle.status-equal {
    width: 55vw;
  }

  .usk {
    right: unset;
    position: unset;
    cursor: default;
    margin-right: 20px !important;
  }
  
  .usk img {
    margin-right: 40px !important;
  }
}

@media only screen and (max-width : 400px) {
  .prize-image {
    top: initial;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 360px;
  }
}

footer, footer a{
  text-transform: uppercase;
  color: #ccc;
}

footer a:hover {
  color: white;
}

footer .cooperation, footer .media-partners {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

footer .media-partners {
   flex-wrap: wrap;
 }


footer .cooperation {
  margin-bottom: 50px;
}

footer .cooperation .company-logo {
  margin-right: 40px;
}

footer .cooperation * {
  margin-right: 20px;
}

footer .media-partners {
  padding: 10px;
}

footer .media-partners .splitter {
  border: 1px solid white;
  display: block;
  width: 1px;
  height: 42px;
  margin-left: 10px;
  margin-right: 10px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.pulsate-bck {
  -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
  animation: pulsate-bck 0.5s ease-in-out infinite both;
}

.animated.slow {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.cooperation {
  position: relative;
}
